<h2>Add a Book</h2>
<form method="POST" action="/books/add">
  <input type="text" name="title" placeholder="Title">
  <input type="text" name="author" placeholder="Author">
  <input type="text" name="genre" placeholder="Genre">
  <input type="number" name="year" placeholder="Year">
  <button type="submit">Add</button>
</form>